@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);
.nav a {
  cursor: pointer; }

body {
  padding-top: 70px;
  padding-bottom: 70px; }

.room {
  color: white;
  padding: 10px; }
  .room.revelle {
    background: #1F3D7C; }
  .room.muir {
    background: #006633; }
  .room.marshall {
    background: #B50A0F; }
  .room.warren {
    background: #68161C; }
  .room.erc {
    background: #652D91; }
  .room.sixth {
    background: #00778B; }

.navbar-default .nav > li.revelle-nav a {
  color: #1F3D7C; }
.navbar-default .nav > li.revelle-nav.active a, .navbar-default .nav > li.revelle-nav a:hover, .navbar-default .nav > li.revelle-nav a:focus {
  transition: 0.3s;
  color: #eee;
  background: #1F3D7C; }
@media (min-width: 768px) {
  .navbar-default .nav > li.revelle-nav {
    border-left: none;
    border-bottom: 3px solid #1F3D7C; } }
@media (max-width: 767px) {
  .navbar-default .nav > li.revelle-nav {
    border-bottom: none;
    border-left: 3px solid #1F3D7C; } }

.navbar-default .nav > li.muir-nav a {
  color: #006633; }
.navbar-default .nav > li.muir-nav.active a, .navbar-default .nav > li.muir-nav a:hover, .navbar-default .nav > li.muir-nav a:focus {
  transition: 0.3s;
  color: #eee;
  background: #006633; }
@media (min-width: 768px) {
  .navbar-default .nav > li.muir-nav {
    border-left: none;
    border-bottom: 3px solid #006633; } }
@media (max-width: 767px) {
  .navbar-default .nav > li.muir-nav {
    border-bottom: none;
    border-left: 3px solid #006633; } }

.navbar-default .nav > li.marshall-nav a {
  color: #B50A0F; }
.navbar-default .nav > li.marshall-nav.active a, .navbar-default .nav > li.marshall-nav a:hover, .navbar-default .nav > li.marshall-nav a:focus {
  transition: 0.3s;
  color: #eee;
  background: #B50A0F; }
@media (min-width: 768px) {
  .navbar-default .nav > li.marshall-nav {
    border-left: none;
    border-bottom: 3px solid #B50A0F; } }
@media (max-width: 767px) {
  .navbar-default .nav > li.marshall-nav {
    border-bottom: none;
    border-left: 3px solid #B50A0F; } }

.navbar-default .nav > li.warren-nav a {
  color: #68161C; }
.navbar-default .nav > li.warren-nav.active a, .navbar-default .nav > li.warren-nav a:hover, .navbar-default .nav > li.warren-nav a:focus {
  transition: 0.3s;
  color: #eee;
  background: #68161C; }
@media (min-width: 768px) {
  .navbar-default .nav > li.warren-nav {
    border-left: none;
    border-bottom: 3px solid #68161C; } }
@media (max-width: 767px) {
  .navbar-default .nav > li.warren-nav {
    border-bottom: none;
    border-left: 3px solid #68161C; } }

.navbar-default .nav > li.erc-nav a {
  color: #652D91; }
.navbar-default .nav > li.erc-nav.active a, .navbar-default .nav > li.erc-nav a:hover, .navbar-default .nav > li.erc-nav a:focus {
  transition: 0.3s;
  color: #eee;
  background: #652D91; }
@media (min-width: 768px) {
  .navbar-default .nav > li.erc-nav {
    border-left: none;
    border-bottom: 3px solid #652D91; } }
@media (max-width: 767px) {
  .navbar-default .nav > li.erc-nav {
    border-bottom: none;
    border-left: 3px solid #652D91; } }

.navbar-default .nav > li.sixth-nav a {
  color: #00778B; }
.navbar-default .nav > li.sixth-nav.active a, .navbar-default .nav > li.sixth-nav a:hover, .navbar-default .nav > li.sixth-nav a:focus {
  transition: 0.3s;
  color: #eee;
  background: #00778B; }
@media (min-width: 768px) {
  .navbar-default .nav > li.sixth-nav {
    border-left: none;
    border-bottom: 3px solid #00778B; } }
@media (max-width: 767px) {
  .navbar-default .nav > li.sixth-nav {
    border-bottom: none;
    border-left: 3px solid #00778B; } }

/*# sourceMappingURL=main.css.map */
