@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

//====== Custom SCSS ======//
.nav a {
    cursor: pointer;
}

body {
    padding-top: 70px;
}

//====== Styling Location <div>s ======//
.location {
    // border: 1px solid gray;
}

.room {
//    border: 1px dashed gray;
}

//====== College colors/themes ======//
$revelle-color: #1F3D7C;
$muir-color: #006633;
$marshall-color: #B50A0F;
$warren-color: #68161C;
$erc-color: #652D91;
$sixth-color: #00778B;

@mixin color-nav($parent, $college, $color) {
    .#{$parent}> li.#{$college} {
        a {
            color: $color;
        }

        &.active a, a:hover, a:focus {
            transition: 0.3s;
            color: #eee;
            background: $color;
        }

        @media (min-width:768px) {
            border-left: none;
            border-bottom: 3px solid $color;
        }

        @media (max-width:767px) {
            border-bottom: none;
            border-left: 3px solid $color;
        }

    }
}

$nav-stuff: 'navbar-default .nav';
@include color-nav($nav-stuff, revelle-nav, $revelle-color);
@include color-nav($nav-stuff, muir-nav, $muir-color);
@include color-nav($nav-stuff, marshall-nav, $marshall-color);
@include color-nav($nav-stuff, warren-nav, $warren-color);
@include color-nav($nav-stuff, erc-nav, $erc-color);
@include color-nav($nav-stuff, sixth-nav, $sixth-color);
