@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

/* Normalize spacing */
body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    font-family: 'Roboto';
}

.nav a {
    cursor: pointer;
}

/* College colors/themes */
$revelle-color: #1F3D7C;
$muir-color: #006633;
$marshall-color: #B50A0F;
$warren-color: #68161C;
$erc-color: #652D91;
$sixth-color: #00778B;

@mixin color-nav($parent, $college, $color) {
    .#{$parent}> li.#{$college} {
        a {
            color: $color;
        }

        &.active a, a:hover, a:focus {
            transition: 0.3s;
            color: #eee;
            background: $color;
        }

        border-bottom: 3px solid $color;
    }
}

$nav-stuff: 'navbar-default .nav';
@include color-nav($nav-stuff, revelle, $revelle-color);
@include color-nav($nav-stuff, muir, $muir-color);
@include color-nav($nav-stuff, marshall, $marshall-color);
@include color-nav($nav-stuff, warren, $warren-color);
@include color-nav($nav-stuff, erc, $erc-color);
@include color-nav($nav-stuff, sixth, $sixth-color);
